.header{
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header_right{
            display: flex;
            align-items: center;
            gap: 40px;
            .header_list{
                display: flex;
                align-items: center;
                gap: 20px;
            }

            
        }
    }


}